<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          Picam
        </q-toolbar-title>

        <div>Log out</div>
        <pre>  </pre>
        <q-btn to="/" round @click="signOutClick">
        <q-avatar size="30px">
          <img src="https://png.pngtree.com/svg/20160923/sign_out_583676.png">
        </q-avatar>
      </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Main Menu</q-item-label>
        <q-item clickable tag="a" to="/Mainfeed">
          <q-item-section avatar>
            <q-icon name="img:https://cdn2.iconfinder.com/data/icons/blue-round-amazing-icons-1/512/home-alt-512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mainfeed</q-item-label>
            <q-item-label caption>Go Back to mainfeed</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/Members">
          <q-item-section avatar>
            <q-icon name="img:https://myrealdomain.com/images/membership-icon-5.png"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Members</q-item-label>
            <q-item-label caption>Manage your members</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/upload_image">
          <q-item-section avatar>
            <q-icon name="img:https://img.pngio.com/register-cash-register-cash-till-icon-with-png-and-vector-format-register-png-512_512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Register</q-item-label>
            <q-item-label caption>Upload face images to server</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/gallery">
          <q-item-section avatar>
            <q-icon name="img:https://cdn3.iconfinder.com/data/icons/basic-icons-5/64/GALLERY-512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Gallery</q-item-label>
            <q-item-label caption>View your images here</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/export_records">
          <q-item-section avatar>
            <q-icon name="img:https://p7.hiclipart.com/preview/975/1010/355/computer-icons-bar-chart-bar-chart.jpg" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Data</q-item-label>
            <q-item-label caption>See records now</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <q-dialog v-model="dialog" persistent>
        <q-card>
          <q-img src="https://i.pinimg.com/originals/95/b0/f3/95b0f39dc0b5a6a1a5ae7da3eb877e3e.gif" />

          <q-card-section>
            <div class="row no-wrap items-center">
              <br><br><br>
              <div class="col text-h6 ellipsis">Before exporting records, please enter your credentials again</div>
              <div class="col-auto text-grey q-pt-md">
              </div>
            </div>
          </q-card-section>

          <q-card-section>
            <q-input :readonly="loading" color="blue" outlined v-model="username" label="Username" @keydown.enter="search">
              <template v-slot:append>
                <q-avatar>
                  <img src="https://image.flaticon.com/icons/png/512/64/64572.png">
                </q-avatar>
              </template>
            </q-input>
            <br>
            <q-input :readonly="loading" color="blue" filled type="password" outlined v-model="password" label="Password" @keydown.enter="exportData">
              <template v-slot:append>
                <q-avatar>
                  <img src="https://cdn.imgbin.com/16/8/19/imgbin-computer-icons-password-manager-technical-support-email-c3Ny10xmWJMJ35BxzTidaq0DN.jpg">
                </q-avatar>
              </template>
            </q-input>
            <br>
            <q-btn :loading="loading" label="EXPORT NOW" outline color="orange" style="margin-right: 300px" @click="exportData"/>
            <q-btn :loading="loading" label="cancel" outline color="orange" @click="dialog = false"/>
          </q-card-section>
        </q-card>
      </q-dialog>

      <div>
        <q-input square filled v-model="startDate" @click="startDate=''">
          <template v-slot:prepend>
            <q-icon name="event" />
          </template>
        </q-input>
        <q-input square filled v-model="endDate" @click="endDate=''">
          <template v-slot:prepend>
            <q-icon name="event" />
          </template>
        </q-input>
        <q-input square filled v-model="lateTime" @click="lateTime=''">
          <template v-slot:prepend>
            <q-icon name="alarm" />
          </template>
        </q-input>
        <div class="q-pa-md">
          <q-btn
            :loading="buttonLoading"
            :percentage="percentage"
            color="primary"
            @click="startComputing"
            style="width: 150px"
          >
            LOAD DATA NOW
          </q-btn>
        </div>
      </div>

      <div v-if="showBar">
        <graph-bar
              :width="1200"
              :height="600"
              :axis-min="0"
              :axis-max="maxDays"
              :labels="namesLabel"
              :values="values"
              :colors="['green', 'red']">
          <note :text="'Attendence Chart'"></note>
          <tooltip :names="names" :position="'left'"></tooltip>
          <legends :names="names" :filter="true"></legends>
        </graph-bar>
      </div>

    </q-page-container>
    <q-dialog v-model="unexportable" persistent transition-show="scale" transition-hide="scale">
      <q-card class="bg-orange text-white" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Google Authentication</div>
        </q-card-section>

        <q-card-section>
          Please log in to your google account to enable this feature.
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn to="/" flat color="orange" label="RETURN" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import { Cookies, Notify } from 'quasar'
import axios from 'axios'
const URL = require('../apis/Urls')

export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      maxDays: 0,
      visible: false,
      unexportable: false,
      dialog: false,
      username: '',
      password: '',
      loading: false,
      startDate: 'From date in the format of dd/mm/yyyy',
      endDate: 'To date in the format of dd/mm/yyyy',
      lateTime: 'Late time in the 24H format of hh:mm',
      names: [ 'On time', 'Late' ],
      namesLabel: [],
      values: [[], []],
      buttonLoading: false,
      percentage: 0,
      showBar: false
    }
  },
  methods: {
    signOutClick (e, go) {
      Cookies.remove('token')
      Cookies.remove('username')
      Cookies.remove('first_time_login')

      go()
    },
    async startComputing () {
      this.buttonLoading = true
      this.namesLabel = []
      this.values = [[], []]
      this.percentage = 10

      const token = Cookies.get('token')
      const splittedStartDate = this.startDate.split('/')
      const splittedEndDate = this.endDate.split('/')
      const splittedLateTime = this.lateTime.split(':')
      const localDate = new Date()

      if (
        splittedStartDate.length !== 3 ||
        splittedEndDate.length !== 3 ||
        splittedStartDate[0].length !== 2 ||
        splittedStartDate[1].length !== 2 ||
        splittedStartDate[2].length !== 4 ||
        splittedEndDate[0].length !== 2 ||
        splittedEndDate[1].length !== 2 ||
        splittedEndDate[2].length !== 4 ||
        splittedLateTime[0].length !== 2 ||
        splittedLateTime[1].length !== 2 ||
        parseInt(splittedStartDate[0], 10) > 31 ||
        parseInt(splittedStartDate[1], 10) > 12 ||
        parseInt(splittedEndDate[0], 10) > 31 ||
        parseInt(splittedEndDate[1], 10) > 12 ||
        parseInt(splittedLateTime[0], 10) > 23 ||
        parseInt(splittedLateTime[1], 10) > 59 ||
        (
          parseInt(splittedStartDate[0], 10) > localDate.getDate() &&
          parseInt(splittedStartDate[1], 10) >= localDate.getMonth()
        ) ||
        (
          parseInt(splittedEndDate[0], 10) > localDate.getDate() &&
          parseInt(splittedEndDate[1], 10) >= localDate.getMonth()
        ) ||
        parseInt(splittedStartDate[2], 10) > localDate.getFullYear() ||
        parseInt(splittedEndDate[2], 10) > localDate.getFullYear()
      ) {
        Notify.create({
          color: 'negative',
          message: 'Format Error!',
          timeout: 2500
        })

        this.buttonLoading = false

        return
      }

      const replace = parseInt(splittedEndDate[0], 10) + 1
      splittedEndDate[0] = replace.toString()

      if (splittedEndDate.length === 1) {
        splittedEndDate[0] = '0' + splittedEndDate[0]
      }

      const data = await axios.get(URL.GET_RECORDS_BY_DATE, {
        headers: {
          Authorization: 'Bearer ' + token,
          start_date: splittedStartDate[0],
          start_month: splittedStartDate[1],
          start_year: splittedStartDate[2],
          end_date: splittedEndDate[0],
          end_month: splittedEndDate[1],
          end_year: splittedEndDate[2]
        }
      })

      this.percentage += 30

      const nameSet = new Set()

      try {
        data.data.forEach(eachData => {
          nameSet.add(eachData.name)
        })
      } catch (e) {
        Notify.create({
          color: 'negative',
          message: 'Format Error!',
          timeout: 2500
        })

        this.buttonLoading = false

        return
      }

      nameSet.forEach(name => {
        this.namesLabel.push(name)
      })

      const date1 = new Date(`${splittedStartDate[1]}/${splittedStartDate[0]}/${splittedStartDate[2]}`)
      const date2 = new Date(`${splittedEndDate[1]}/${splittedEndDate[0]}/${splittedEndDate[2]}`)
      const diffTime = Math.abs(date2 - date1)
      const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
      this.maxDays = diffDays

      this.percentage += 20

      nameSet.forEach(name => {
        const filteredData = data.data.filter(eachFilteredData => {
          const attendedTime = eachFilteredData.attended_time.split(' ')[4].split(':')
          const mappedAttendedTime = attendedTime.map(eachAttendedTime => parseInt(eachAttendedTime, 10))

          if (
            mappedAttendedTime[0] > (parseInt(splittedLateTime[0], 10) - 7) ||
            (
              mappedAttendedTime[0] === (parseInt(splittedLateTime[0], 10) - 7) &&
              mappedAttendedTime[1] > parseInt(splittedLateTime[1])
            )
          ) {
            return false
          }

          return eachFilteredData.name === name
        })

        this.values[0].push(filteredData.length)
        this.values[1].push(diffDays - filteredData.length)
      })

      this.percentage = 90

      this.showBar = true
      this.buttonLoading = false
    },
    async exportData () {
      // this.loading = true

      // let res = await window.fetch(URL.LOGIN, {
      //   method: 'get',
      //   headers: {
      //     'Content-Type': 'application/json',
      //     username: this.username,
      //     password: this.password
      //   }
      // })
      // res = await res.json()

      // if (res.error === true) {
      //   Notify.create({
      //     color: 'negative',
      //     message: 'Wrong username or password',
      //     timeout: 1000
      //   })

      //   this.loading = false

      //   return
      // }

      // const credentialCode = res.credential_code

      // let res2 = await window.fetch(URL.EXPORT_DATA, {
      //   method: 'get',
      //   headers: {
      //     'code': credentialCode
      //   }
      // })
      // res2 = await res.json()
      // console.log(res2)

      // this.loading = false
    }
  },
  beforeMount () {
    const name = Cookies.get('username')
    // const firstTimeLogin = Cookies.get('first_time_login')

    if (name === undefined) {
      this.welcomeText = 'Please Login'

      window.location.href = '/'
    }

    // if (firstTimeLogin === true) {
    //   this.unexportable = true
    // }
  }
}
</script>
