<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>Picam</q-toolbar-title>

        <div>Log out</div>
        <pre>  </pre>
        <q-btn to="/" round @click="signOutClick">
          <q-avatar size="30px">
            <img src="https://png.pngtree.com/svg/20160923/sign_out_583676.png" />
          </q-avatar>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered content-class="bg-grey-2">
      <q-list>
        <q-item-label header>Main Menu</q-item-label>
        <q-item clickable tag="a" to="/Mainfeed">
          <q-item-section avatar>
            <q-icon
              name="img:https://cdn2.iconfinder.com/data/icons/blue-round-amazing-icons-1/512/home-alt-512.png"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mainfeed</q-item-label>
            <q-item-label caption>Go Back to mainfeed</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/Members">
          <q-item-section avatar>
            <q-icon name="img:https://myrealdomain.com/images/membership-icon-5.png"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Members</q-item-label>
            <q-item-label caption>Manage your members</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/upload_image">
          <q-item-section avatar>
            <q-icon
              name="img:https://img.pngio.com/register-cash-register-cash-till-icon-with-png-and-vector-format-register-png-512_512.png"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Register</q-item-label>
            <q-item-label caption>Upload face images to server</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/gallery">
          <q-item-section avatar>
            <q-icon
              name="img:https://cdn3.iconfinder.com/data/icons/basic-icons-5/64/GALLERY-512.png"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Gallery</q-item-label>
            <q-item-label caption>View your images here</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/export_records">
          <q-item-section avatar>
            <q-icon
              name="img:https://p7.hiclipart.com/preview/975/1010/355/computer-icons-bar-chart-bar-chart.jpg"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Data</q-item-label>
            <q-item-label caption>See records now</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <q-dialog v-model="dialog" persistent>
        <q-card>
          <q-img src="https://media.giphy.com/media/4GdJlMs8JdREk/giphy.gif" />

          <q-card-section>
            <div class="row no-wrap items-center">
              <br><br><br>
              <div class="col text-h6 ellipsis">Search for member face image now</div>
              <div class="col-auto text-grey q-pt-md">
              </div>
            </div>
          </q-card-section>

          <q-card-section>
            <q-input :readonly="loading" color="blue" outlined v-model="memberName" label="Enter your member name here " @keydown.enter="search">
              <template v-slot:append>
                <q-avatar>
                  <img src="https://image.flaticon.com/icons/png/512/64/64572.png">
                </q-avatar>
              </template>
            </q-input>
            <br>
            <q-btn :loading="loading" label="SEARCH NOW" outline color="blue" style="margin-right: 35px" @click="search"/>
            <q-btn :loading="loading" to="/Mainfeed" label="Back to main feed" outline color="blue"/>
          </q-card-section>
        </q-card>
      </q-dialog>

      <div class="q-pa-md">
        <div class="q-col-gutter-md row items-start">
          <div class="col-6">
            <q-img
              :src="this.pic1URL"
              style="width: 100%"
            >
              <div class="absolute-bottom text-subtitle1 text-center q-pa-xs">
                {{this.memberName + '1'}}
              </div>
            </q-img>
          </div>

          <div class="col-6">
            <q-img
              :src="this.pic2URL"
              style="width: 100%"
            >
              <div class="absolute-bottom text-subtitle1 text-center q-pa-xs">
                {{this.memberName + '2'}}
              </div>
            </q-img>
          </div>

          <div class="col-6">
            <q-img
              :src="this.pic3URL"
              style="width: 100%"
            >
              <div class="absolute-bottom text-subtitle1 text-center q-pa-xs">
                {{this.memberName + '3'}}
              </div>
            </q-img>
          </div>

          <div class="col-6">
            <q-img
              :src="this.pic4URL"
              style="width: 100%"
            >
              <div class="absolute-bottom text-subtitle1 text-center q-pa-xs">
                {{this.memberName + '4'}}
              </div>
            </q-img>
          </div>

          <div class="col-6">
            <q-img
              :src="this.pic5URL"
              style="width: 100%"
            >
              <div class="absolute-bottom text-subtitle1 text-center q-pa-xs">
                {{this.memberName + '5'}}
              </div>
            </q-img>
          </div>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Notify, Cookies } from 'quasar'
import axios from 'axios'
const URL = require('../apis/Urls')

export default {
  name: 'MyLayout',

  data () {
    return {
      loading: false,
      leftDrawerOpen: false,
      dialog: true,
      pic1URL: '',
      pic2URL: '',
      pic3URL: '',
      pic4URL: '',
      pic5URL: '',
      memberName: ''
    }
  },
  methods: {
    signOutClick (e, go) {
      Cookies.remove('token')
      Cookies.remove('username')
      Cookies.remove('first_time_login')

      go()
    },
    async search () {
      const token = Cookies.get('token')

      this.loading = true

      await axios.get(URL.GET_MEMBER_INFO, {
        headers: {
          Authorization: 'Bearer ' + token,
          name: this.memberName
        }
      })
        .then(res => {
          this.loading = false

          if (res.data[0] === undefined) {
            Notify.create({
              color: 'negative',
              message: 'Member not found',
              timeout: 1000
            })

            return
          }

          this.dialog = false

          this.pic1URL = 'https://storage.googleapis.com/picam-255511.appspot.com/' + this.memberName + '1'
          this.pic2URL = 'https://storage.googleapis.com/picam-255511.appspot.com/' + this.memberName + '2'
          this.pic3URL = 'https://storage.googleapis.com/picam-255511.appspot.com/' + this.memberName + '3'
          this.pic4URL = 'https://storage.googleapis.com/picam-255511.appspot.com/' + this.memberName + '4'
          this.pic5URL = 'https://storage.googleapis.com/picam-255511.appspot.com/' + this.memberName + '5'
        })
    }
  },
  beforeMount () {
    const name = Cookies.get('username')

    if (name === undefined) {
      window.location.href = '/'
    }
  }
}
</script>
