<template>
  <div class="q-pa-md">
    <div class="window-height row justify-center full-height">
      <div class="q-gutter-y-md column fixed-center">
        <span class="label text-blue text-h2 row justify-center">
          WELCOME TO PICAM
        </span>
        <span class="label text-black text-h7 row justify-center">
          "Please login to your google account"
        </span>
        <div class="q-gutter-y-md column style=fixed-center" style="width:300px">
        </div>
        <q-btn outline rounded color="primary" label="SIGN IN TO GOOGLE" @click="linkClick"/>
      </div>
    </div>
  </div>
</template>

<script>
// import { getToken } from '../httpFunctions/Authentication/GoogleSignIn'

export default {
  methods: {
    linkClick (e, go) {
      // const authWeb = getToken()

      // window.location.href = authWeb
    }
  }
}
</script>
