<template>
  <div class="q-pa-md">
    <div class="window-height row justify-center full-height">
      <div class="q-gutter-y-md column fixed-center">
        <span class="label text-black text-h2 row justify-center">PiCam</span>
        <div class="q-gutter-y-md column style=fixed-center" style="width:300px">
          <q-input bg-color="blue-1" :readonly="loading" color="teal" outlined v-model="usernameText" label="Username">
            <template v-slot:append>
              <q-avatar>
                <img src="https://www.itrainstation.com/public/images/avatar_default.png" />
              </q-avatar>
            </template>
          </q-input>
          <q-input bg-color="blue-1" :readonly="loading" color="teal" outlined v-model="passwordText" label="Password" filled type="password" @keydown.enter="loginClick">
            <template v-slot:append>
              <q-avatar>
                <img src="https://pngimage.net/wp-content/uploads/2018/06/password-logo-png-4.png" />
              </q-avatar>
            </template>
          </q-input>
        </div>
        <q-btn :loading='loading' to="/Mainfeed" unelevated rounded color="primary" label="Login" @click="loginClick"/>
        <q-btn :loading='loading' outline rounded color="primary" label="Register" @click="persistent = true"/>
      </div>
    </div>
    <q-dialog v-model="persistent" persistent transition-show="scale" transition-hide="scale">
      <q-card class="bg-blue text-white" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Secret code</div>
        </q-card-section>

        <q-card-section>
          Please enter secret code to register your account.
        </q-card-section>
        <q-input bg-color="blue-1" :readonly="loading" color="black" outlined v-model="secretCode" label="Enter your code here" filled type="password"/>
        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat color="blue" label="REGISTER NOW" v-close-popup @click="registerClick"/>
          <q-btn flat color="blue" label="CANCEL" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { Notify, Cookies } from 'quasar'
const URL = require('../apis/Urls')

export default {
  data () {
    return {
      usernameText: '',
      passwordText: '',
      secretCode: '',
      errorText: '',
      loading: false,
      persistent: false,

      dense: false
    }
  },
  beforeMount () {
    const name = Cookies.get('username')

    if (name !== undefined) {
      window.location.href = '/#/Mainfeed'
    }
  },
  methods: {
    async loginClick (e, go) {
      e.navigate = false
      this.loading = true

      setTimeout(async () => {
        let res = await window.fetch(URL.LOGIN, {
          method: 'get',
          headers: {
            'Content-Type': 'application/json',
            username: this.usernameText,
            password: this.passwordText
          }
        })
        res = await res.json()

        this.loading = false

        if (res.error === true) {
          Notify.create({
            color: 'negative',
            message: 'Wrong username or password',
            timeout: 1000
          })
          return
        }

        Cookies.set('token', res.token)
        Cookies.set('first_time_login', res.first_time_login)
        Cookies.set('username', this.usernameText)

        window.location.href = '/#/Mainfeed'
      }, 0)
    },
    async registerClick (e, go) {
      e.navigate = false
      this.loading = true

      if (this.usernameText === '' ||
        this.passwordText === '' ||
        this.usernameText.length <= 3 ||
        this.usernameText.length <= 6
      ) {
        this.loading = false
        Notify.create({
          color: 'negative',
          message: 'Username must be more than 3 characters. Password must be more than 6 characters',
          timeout: 1000
        })

        this.secretCode = ''
        this.usernameText = ''
        this.passwordText = ''

        return
      }

      if (this.secretCode !== 'picamsecret') {
        Notify.create({
          color: 'negative',
          message: 'Wrong secret code',
          timeout: 2000
        })

        this.secretCode = ''

        this.loading = false
        return
      }

      setTimeout(async () => {
        try {
          let res = await window.fetch(URL.REGISTER, {
            method: 'post',
            headers: {
              'Content-Type': 'application/json',
              username: this.usernameText,
              password: this.passwordText
            }
          })

          res = await res.json()

          this.loading = false

          if (res.error === true) {
            Notify.create({
              color: 'negative',
              message: 'Account is taken',
              timeout: 2500
            })
            return
          }

          Notify.create({
            color: 'green',
            message: 'Created account successfully. Please login again',
            timeout: 1000
          })

          this.passwordText = ''
          this.secretCode = ''
        } catch (e) {
          this.loading = false

          Notify.create({
            color: 'negative',
            message: 'Server Error',
            timeout: 2500
          })
        }
      }, 0)
    }
  }
}
</script>
