<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          Picam
        </q-toolbar-title>

        <div>Log out</div>
        <pre>  </pre>
        <q-btn to="/" round @click="signOutClick">
          <q-avatar size="30px">
            <img src="https://png.pngtree.com/svg/20160923/sign_out_583676.png">
          </q-avatar>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Main Menu</q-item-label>
        <q-item clickable tag="a" to="/Mainfeed">
          <q-item-section avatar>
            <q-icon name="img:https://cdn2.iconfinder.com/data/icons/blue-round-amazing-icons-1/512/home-alt-512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mainfeed</q-item-label>
            <q-item-label caption>Go Back to mainfeed</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/Members">
          <q-item-section avatar>
            <q-icon name="img:https://myrealdomain.com/images/membership-icon-5.png"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Members</q-item-label>
            <q-item-label caption>Manage your members</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/upload_image">
          <q-item-section avatar>
            <q-icon name="img:https://img.pngio.com/register-cash-register-cash-till-icon-with-png-and-vector-format-register-png-512_512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Register</q-item-label>
            <q-item-label caption>Upload face images to server</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/gallery">
          <q-item-section avatar>
            <q-icon name="img:https://cdn3.iconfinder.com/data/icons/basic-icons-5/64/GALLERY-512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Gallery</q-item-label>
            <q-item-label caption>View your images here</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/export_records">
          <q-item-section avatar>
            <q-icon name="img:https://p7.hiclipart.com/preview/975/1010/355/computer-icons-bar-chart-bar-chart.jpg" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Data</q-item-label>
            <q-item-label caption>See records now</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <div class="q-pa-md">
        <div class="window-height row justify-center full-height">
          <div class="q-gutter-y-md column fixed-center">
            <span class="label text-black text-h2 row justify-center">
              {{ this.welcomeText }}
            <br><br>
            <q-img
              src="https://cdn.dribbble.com/users/1859102/screenshots/4814254/camera.gif"
              style="height: 140px; max-width: 550px"
            />
            <br><br><br>
            <span class="text-h6 text-green">
              SERVER
              <img :src="'https://docs.emlid.com/edge/img/led-status/status_led_green_blinking.gif'" style="width:15px; height:15px">
            </span>
            </span>
            <q-card class="my-card bg-orange text-white">
              <q-card-section>
                <div class="text-h6">Records from PiCam</div>
                <q-input v-model="name" @click="name = ''"/>
              </q-card-section>

              <q-card-section>
                {{ lastRecord }}
                <br>
                {{ attendedTime }}
              </q-card-section>

              <q-separator dark />

              <q-card-actions>
                <q-btn flat @click="query">QUERY</q-btn>
                <q-btn flat @click="refresh">REFRESH</q-btn>
              </q-card-actions>
              <q-inner-loading :showing="visible">
                <q-spinner-gears size="100px" color="primary" />
              </q-inner-loading>
            </q-card>
          </div>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Cookies } from 'quasar'
import axios from 'axios'
const URL = require('../apis/Urls')

export default {
  name: 'MyLayout',

  data () {
    return {
      visible: false,
      leftDrawerOpen: false,
      lastRecord: 'Last record: ',
      attendedTime: 'Attended time: ',
      welcomeText: '',
      name: 'Enter your name here'
    }
  },
  methods: {
    async refresh () {
      const token = Cookies.get('token')
      this.visible = true

      await axios.get(URL.GET_LATEST_RECORD, {
        headers: {
          Authorization: 'Bearer ' + token
        }
      })
        .then(res => {
          this.lastRecord = 'Lastest record: ' + res.data[0].name
          this.attendedTime = 'Attended time: ' + res.data[0].attended_time

          this.visible = false
        })
        .catch(res => {
          this.lastRecord = 'Lastest record: no data'
          this.attendedTime = 'Attended time: no data'
          this.name = ''

          this.visible = false
        })
    },
    async query () {
      const token = Cookies.get('token')
      this.visible = true

      if (this.name === '') {
        this.visible = false
        return
      }

      await axios.get(URL.GET_RECORD, {
        headers: {
          Authorization: 'Bearer ' + token,
          name: this.name
        }
      })
        .then(res => {
          if (res.data.error === true) {
            throw new Error()
          }

          this.lastRecord = 'Record for today: ' + res.data[0].name
          this.attendedTime = 'Attended time: ' + res.data[0].attended_time
          this.name = ''

          this.visible = false
        })
        .catch(res => {
          this.lastRecord = 'Record for today: no data'
          this.attendedTime = 'Attended time: no data'
          this.name = 'Enter your name here'

          this.visible = false
        })
    },
    signOutClick (e, go) {
      Cookies.remove('token')
      Cookies.remove('username')
      Cookies.remove('first_time_login')

      go()
    }
  },
  async beforeMount () {
    const name = Cookies.get('username')
    const token = Cookies.get('token')
    // const firstTimeLogin = Cookies.get('first_time_login')

    this.visible = true

    if (name === undefined) {
      this.welcomeText = 'Please Login'

      window.location.href = '/'

      return
    }

    this.welcomeText = `Welcome ${name}!`

    await axios.get(URL.GET_LATEST_RECORD, {
      headers: {
        Authorization: 'Bearer ' + token
      }
    })
      .then(res => {
        this.lastRecord = 'Lastest record: ' + res.data[0].name
        this.attendedTime = 'Attended time: ' + res.data[0].attended_time

        this.visible = false
      })
      .catch(res => {
        this.lastRecord = 'Lastest record: no data'
        this.attendedTime = 'Attended time: no data'
        this.name = 'Enter your name here'

        this.visible = false
      })

    // if (firstTimeLogin === true) {
    //   Notify.create({
    //     color: 'orange',
    //     message: 'You haven\'t sign in to google yet. Please sign in ',
    //     timeout: 10000,
    //     actions: [
    //       { label: 'Sign in now',
    //         color: 'yellow',
    //         handler: async () => {
    //           try {
    //             let res = await window.fetch(URL.GET_TOKEN, {
    //               method: 'get',
    //               headers: {
    //                 username: name
    //               }
    //             })

    //             res = await res.json()

    //             Cookies.set('first_time_login', 'true2')

    //             window.location.href = res.url
    //           } catch (e) {
    //             Notify.create({
    //               color: 'negative',
    //               message: 'Server Error',
    //               timeout: 2500
    //             })
    //           }
    //         } },
    //       { label: 'Dismiss', color: 'red' }
    //     ]
    //   })
    // } else if (firstTimeLogin === 'true2') {
    //   Notify.create({
    //     color: 'green',
    //     message: 'Google Auth Verified!',
    //     timeout: 2500
    //   })
    // }
  }
}
</script>
