<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          Picam
        </q-toolbar-title>

        <div>Log out</div>
        <pre>  </pre>
        <q-btn to="/" round @click="signOutClick">
        <q-avatar size="30px">
          <img src="https://png.pngtree.com/svg/20160923/sign_out_583676.png">
        </q-avatar>
      </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Main Menu</q-item-label>
        <q-item clickable tag="a" to="/Mainfeed">
          <q-item-section avatar>
            <q-icon name="img:https://cdn2.iconfinder.com/data/icons/blue-round-amazing-icons-1/512/home-alt-512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mainfeed</q-item-label>
            <q-item-label caption>Go Back to mainfeed</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/Members">
          <q-item-section avatar>
            <q-icon name="img:https://myrealdomain.com/images/membership-icon-5.png"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Members</q-item-label>
            <q-item-label caption>Manage your members</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/upload_image">
          <q-item-section avatar>
            <q-icon name="img:https://img.pngio.com/register-cash-register-cash-till-icon-with-png-and-vector-format-register-png-512_512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Register</q-item-label>
            <q-item-label caption>Upload face images to server</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/gallery">
          <q-item-section avatar>
            <q-icon name="img:https://cdn3.iconfinder.com/data/icons/basic-icons-5/64/GALLERY-512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Gallery</q-item-label>
            <q-item-label caption>View your images here</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/export_records">
          <q-item-section avatar>
            <q-icon name="img:https://p7.hiclipart.com/preview/975/1010/355/computer-icons-bar-chart-bar-chart.jpg" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Data</q-item-label>
            <q-item-label caption>See records now</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <div class="q-pa-md">
        <div class="window-height row justify-center full-height">
          <div class="q-gutter-y-md column fixed-center">
            <span class="label text-blue-8 text-h2 row justify-center">
              Scroll to see records
            </span>
            <q-img
                :src="this.imgUrl"
              >
              </q-img>
              <q-item>
                <q-item-section avatar top>
                    <q-icon name="account_box" color="black" size="34px" />
                    </q-item-section>

                    <q-item-section top class="col-2 gt-sm">
                    <q-item-label class="q-mt-sm">{{this.memberName}}</q-item-label>
                    </q-item-section>

                    <q-item-section top>
                    <q-item-label lines="1">
                        <span class="text-weight-medium">[{{this.memberId}}]</span>
                        <span class="text-grey-8"> - Member ID</span>
                    </q-item-label>
                    <q-item-label caption lines="1">
                        No information available currently
                    </q-item-label>
                    </q-item-section>

                    <q-item-section top side>
                    <div class="text-grey-8 q-gutter-xs">
                        <q-btn class="gt-xs" size="12px" flat dense round icon="delete" @click="deleteConfirmation = true"/>
                    </div>
                </q-item-section>
            </q-item>
          </div>
        </div>
        <div class="q-pa-md float-right" style="max-width: 350px">
          <q-toolbar class="bg-blue-8 text-white shadow-2">
            <q-toolbar-title>Records from the last 7 days</q-toolbar-title>
          </q-toolbar>

          <q-list bordered>
            <q-item v-for="record in records" :key="record.id" class="q-my-sm" clickable v-ripple>
              <q-item-section avatar>
                <q-avatar color="blue-8" text-color="white">
                  {{ record.letter }}
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label>{{ record.date }}</q-item-label>
                <q-item-label caption lines="1">{{ record.attended_time }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>

      <q-dialog v-model="dialog" persistent>
        <q-card>
          <q-img src="https://thumbs.gfycat.com/GrimyEthicalAsianpiedstarling-max-1mb.gif" />

          <q-card-section>
            <div class="row no-wrap items-center">
              <br><br><br>
              <div class="col text-h6 ellipsis">Search for member info now</div>
              <div class="col-auto text-grey q-pt-md">
              </div>
            </div>
          </q-card-section>

          <q-card-section>
            <q-input :readonly="loading" color="blue" outlined v-model="memberName" label="Enter your member name here " @keydown.enter="search">
              <template v-slot:append>
                <q-avatar>
                  <img src="https://image.flaticon.com/icons/png/512/64/64572.png">
                </q-avatar>
              </template>
            </q-input>
            <br>
            <q-btn :loading="loading" label="SEARCH NOW" outline color="blue" style="margin-right: 35px" @click="search"/>
            <q-btn :loading="loading" to="/Mainfeed" label="Back to main feed" outline color="blue"/>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="deleteConfirmation" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete_forever" color="red" text-color="white" />
          <span class="q-ml-sm">This will permanently delete all photos and member info</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn :loading="loading" flat label="DELETE" color="red" @click="deletePhotos"/>
          <q-btn :loading="loading" flat label="Cancel" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-inner-loading :showing="visible">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Notify, Cookies } from 'quasar'
import axios from 'axios'
const URL = require('../apis/Urls')

const records = []

export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      visible: false,
      loading: false,
      dialog: true,
      memberName: '',
      imgUrl: '',
      memberId: '',
      deleteConfirmation: false,
      records
    }
  },
  methods: {
    signOutClick (e, go) {
      Cookies.remove('token')
      Cookies.remove('username')
      Cookies.remove('first_time_login')

      go()
    },
    async search () {
      const token = Cookies.get('token')

      this.loading = true

      await axios.get(URL.GET_MEMBER_INFO, {
        headers: {
          Authorization: 'Bearer ' + token,
          name: this.memberName
        }
      })
        .then(res => {
          if (res.data[0] === undefined) {
            this.loading = false

            Notify.create({
              color: 'negative',
              message: 'Member not found',
              timeout: 1000
            })

            return
          }

          this.memberId = res.data[0].member_id
          this.memberName = res.data[0].member_name
          this.imgUrl = 'https://storage.googleapis.com/picam-255511.appspot.com/' + this.memberName + '1'
        })
        .catch(res => {
        })

      await axios.get(URL.GET_RECORDS_FROM_PAST_WEEK, {
        headers: {
          Authorization: 'Bearer ' + token,
          name: this.memberName
        }
      })
        .then(res => {
          let dict = {}

          res.data.forEach(record => {
            dict[record.attended_time.substring(0, 3)] = record.attended_time.substring(4)
          })

          let id = 0
          for (let key in dict) {
            id += 1

            this.records.push({
              id: id,
              date: dict[key].substring(0, 11),
              attended_time: dict[key].substring(12, 30) + ' (UTC)',
              letter: key
            })
          }

          this.loading = false
          this.dialog = false
        })
        .catch(res => {
        })
    },
    async deletePhotos () {
      const token = Cookies.get('token')

      this.loading = true
      this.visible = true

      await axios.delete(URL.DELETE_MEMBER, {
        headers: {
          Authorization: 'Bearer ' + token,
          name: this.memberName,
          id: this.memberId
        }
      })
        .then(res => {
          Notify.create({
            color: 'green',
            message: 'Member deleted',
            timeout: 1000
          })
        })

      await axios.delete(URL.DELETE_PHOTOS, {
        headers: {
          Authorization: 'Bearer ' + token,
          name: this.memberName,
          id: this.memberId
        }
      })
        .then(res => {
          Notify.create({
            color: 'green',
            message: 'Photos deleted',
            timeout: 1000
          })
        })

      this.deleteConfirmation = false
      this.loading = false
      this.visible = false
      window.location.reload()
    }
  },
  beforeMount () {
    const name = Cookies.get('username')

    if (name === undefined) {
      this.welcomeText = 'Please Login'

      window.location.href = '/'
    }
  }
}
</script>
