<template>
  <div class="q-pa-md">
    <div class="window-height row justify-center full-height">
      <div class="q-gutter-y-md column fixed-center">
        <span class="label text-black text-h1 row justify-center">Coming soon</span>
      </div>
      <q-inner-loading :showing="visible">
        <q-spinner-gears size="100px" color="primary" />
      </q-inner-loading>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      visible: true
    }
  }
}
</script>
