<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          Picam
        </q-toolbar-title>

        <div>Log out</div>
        <pre>  </pre>
        <q-btn to="/" round @click="signOutClick">
        <q-avatar size="30px">
          <img src="https://png.pngtree.com/svg/20160923/sign_out_583676.png">
        </q-avatar>
      </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Main Menu</q-item-label>
        <q-item clickable tag="a" to="/Mainfeed">
          <q-item-section avatar>
            <q-icon name="img:https://cdn2.iconfinder.com/data/icons/blue-round-amazing-icons-1/512/home-alt-512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mainfeed</q-item-label>
            <q-item-label caption>Go Back to mainfeed</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/Members">
          <q-item-section avatar>
            <q-icon name="img:https://myrealdomain.com/images/membership-icon-5.png"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Members</q-item-label>
            <q-item-label caption>Manage your members</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/upload_image">
          <q-item-section avatar>
            <q-icon name="img:https://img.pngio.com/register-cash-register-cash-till-icon-with-png-and-vector-format-register-png-512_512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Register</q-item-label>
            <q-item-label caption>Upload face images to server</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/gallery">
          <q-item-section avatar>
            <q-icon name="img:https://cdn3.iconfinder.com/data/icons/basic-icons-5/64/GALLERY-512.png" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Gallery</q-item-label>
            <q-item-label caption>View your images here</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/export_records">
          <q-item-section avatar>
            <q-icon name="img:https://p7.hiclipart.com/preview/975/1010/355/computer-icons-bar-chart-bar-chart.jpg" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Data</q-item-label>
            <q-item-label caption>See records now</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <div class="q-pa-md">
        <div class="window-height row justify-center full-height">
          <div class="q-gutter-y-md column fixed-center">
            <span class="label text-black text-h2 row justify-center">
              Register new member here
              <br><br>
              <q-img
                src="https://cdn.dribbble.com/users/264129/screenshots/3520651/drbl_daily_ui_031.gif"
                style="height: 200px; max-width: 550px"
              />
              <q-btn id="upload_widget" class="text-h6" outline color="primary" label="UPLOAD NOW" @click="upload_popup = true">
              </q-btn>
            </span>
            <br><br>
            <q-card class="my-card bg-blue text-white">
              <q-card-section>
                <div class="text-h6">Latest upload</div>
                <div class="text-subtitle2">{{ refreshedAt }}</div>
              </q-card-section>

              <q-card-section>
                {{ lastFileName }}
                <br>
                {{ lastFileUploadTime }}
                <br>
                {{ totalFileCount }}
              </q-card-section>

              <q-separator dark />

              <q-card-actions>
                <q-btn flat @click="refresh">REFRESH</q-btn>
              </q-card-actions>
            </q-card>
          </div>
        </div>
      </div>
      <q-dialog v-model="upload_popup" persistent>
        <q-card style="min-width: 350px">
          <q-card-section>
            <div class="text-h6">Member Information</div>
          </q-card-section>

          <q-card-section>
            <q-input v-model="memberName" label="Name"/>
            <q-input v-model="memberId" label="ID"/>
          </q-card-section>

          <q-card-section>
            <div class="text-h6">Upload face images</div>
          </q-card-section>

          <q-card-section>
            <div class="text-h7">Please upload exactly 5 images of 5 postures by looking straight, top, bottom, left and right.</div>
          </q-card-section>

          <q-card-section>
            <input class="text-blue" type="file" @change="onFileSelected"/>
            <input class="text-blue" type="file" @change="onFileSelected"/>
            <input class="text-blue" type="file" @change="onFileSelected"/>
            <input class="text-blue" type="file" @change="onFileSelected"/>
            <input class="text-blue" type="file" @change="onFileSelected"/>
          </q-card-section>

          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="Cancel" v-close-popup />
            <q-btn flat label="Upload" v-close-popup @click="upload" />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <q-inner-loading :showing="visible">
        <q-spinner-gears size="100px" color="primary" />
      </q-inner-loading>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Notify, Cookies } from 'quasar'
import axios from 'axios'
const URL = require('../apis/Urls')

export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      visible: false,
      upload_popup: false,
      selectedFiles: [],
      lastFileName: 'File name: ',
      lastFileUploadTime: 'Upload time: ',
      totalFileCount: 'Total number of images in server: ',
      refreshedAt: 'refreshed at: ',
      memberName: '',
      memberId: ''
    }
  },
  methods: {
    async refresh () {
      const token = Cookies.get('token')
      this.visible = true

      await axios.get(URL.GET_LATEST_IMAGE_INFO, {
        headers: {
          Authorization: 'Bearer ' + token
        }
      })
        .then(res => {
          if (res.data === '') {
            this.lastFileName = 'File name: -'
            this.lastFileUploadTime = 'Upload time: -'
          } else {
            this.lastFileName = 'File name: ' + res.data.name
            this.lastFileUploadTime = 'Upload time: ' + res.data.upload_time
          }
        })

      let dateOb = new Date()
      let hours = dateOb.getHours()
      let minutes = dateOb.getMinutes()
      let seconds = dateOb.getSeconds()

      this.refreshedAt = 'refreshed at: ' + hours + 'H:' + minutes + 'M:' + seconds + 'S'

      await axios.get(URL.GET_IMAGES_TOTAL_COUNT, {
        headers: {
          Authorization: 'Bearer ' + token
        }
      })
        .then(res => {
          this.totalFileCount = 'Total number of images in server: ' + res.data.count + ' images'

          this.visible = false
        })
    },
    signOutClick (e, go) {
      Cookies.remove('token')
      Cookies.remove('username')
      Cookies.remove('first_time_login')

      go()
    },
    onFileSelected (event) {
      this.selectedFiles.push(event.target.files[0])
    },
    async upload () {
      const token = Cookies.get('token')

      if (this.memberName === '' || this.memberId === '') {
        Notify.create({
          color: 'negative',
          message: 'You haven\'t input name or id!',
          timeout: 2500
        })
        return
      }

      if (this.selectedFiles.length !== 5) {
        Notify.create({
          color: 'negative',
          message: 'You haven\'t select a total of 5 files!',
          timeout: 2500
        })
        return
      }

      this.visible = true
      let count = 0

      for (const selectedFile of this.selectedFiles) {
        count = count + 1
        let fd = new FormData()

        await fd.append('image', selectedFile, this.memberName + count)

        if (count === 1) {
          await axios.post(URL.ADD_MEMBER, fd, {
            headers: {
              Authorization: 'Bearer ' + token,
              id: this.memberId,
              name: this.memberName
            }
          })
            .then(res => {
              Notify.create({
                color: 'green',
                message: `Added member ${this.memberName} successfully!`,
                timeout: 400
              })
            })
        }

        await axios.post(URL.UPLOAD, fd, {
          headers: {
            Authorization: 'Bearer ' + token,
            id: this.memberId
          }
        })
          .then(res => {
            Notify.create({
              color: 'green',
              message: `Uploaded picture ${selectedFile.name} as ${this.memberName + count} successfully!`,
              timeout: 600
            })
          })
      }

      this.visible = false
      window.location.reload()
      this.selectedFiles = []
    }
  },
  async beforeMount () {
    const name = Cookies.get('username')

    this.visible = true

    if (name === undefined) {
      this.welcomeText = 'Please Login'

      window.location.href = '/'
    }

    this.refresh()
  }
}
</script>
